#boardCan {
  border: 8px solid black;
  position: absolute;
  top: 10;
  left: 10;
  margin-left: 500px;
  margin-top: 100px;
  z-index: 0;
}

#snakeCan {
  border: 10px solid black;
  position: absolute;
  top: 10;
  left: 10;
  margin-left: 500px;
  margin-top: 100px;
  z-index: 1;
}
